body {
	margin:		0px;
	padding: 0px;
	width:		580px;
	height:		auto;
	font-size:  12px;
	font-family: "ו", Verdana, Helvetica, Arial;
}

.dynamic-tab-pane-control {
	position: relative;
}

.dynamic-tab-pane-control .tab-page {
	height:		20px;
	background-color:#FFF;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	background:		#FFF;
}



table#agentinfo {
	table-layout:fixed;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px;
	margin: 0px;
	width: 470px;
}
table#agentinfo th 
{
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
	color: #000000;
	height: 20px;
	font-weight:normal;
	margin: 0px;
	padding: 0px;
}
table#agentinfo td
{
	white-space:nowrap;
	word-break:keep-all;
	word-wrap:normal;
	overflow:hidden;
	text-overflow:ellipsis;
	color: #b6291f;
}
.dynamic-tab-pane-control h2 {
	text-align:	center;
	width:		auto;
}

.dynamic-tab-pane-control h2 a {
	display:	inline;
	width:		auto;
}

.dynamic-tab-pane-control a:hover {
	background: transparent;
}

.flatpanel {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.flatpanel li {
	float: left;
	height: 100%;
	position: relative;
	margin-right: 5px;
	
}
.flatpanel li a {
	display: block;
	text-decoration: none;
}

.flatpanel li input{
	width: 50px;
	height: 20px;
	border-width: 0px;
	background-color:transparent;
	color:#000000;
	font-family: "ו";
	text-align: center;
	vertical-align: text-bottom;
	font-size: 12px;
	padding-left:25px;
	background-repeat: no-repeat;
	cursor:hand;
 }
 
.flatpanel li input.btn03{
	width: 65px;
}

.flatpanel li input.btn04{
	width: 75px;
}
