.menu_list{margin:-10px;width:95%;
}
.menu_head{width:180px;height:47px;line-height:47px;padding-left:38px;font-size:15px;color:#B1B2B5;cursor:pointer;border:1px solid #e1e1e1;position:relative;font-weight:bold;background:#f1f1f1 url(../images/pro_left.png) center right no-repeat;margin:0;}
.menu_list .current{background:#f1f1f1 url(../images/pro_down.png) center right no-repeat;}
.menu_body{width:218px;height:auto;font-size:12px;overflow:hidden;line-height:38px;border-left:1px solid #e1e1e1;backguound:#fff;border-right:1px solid #e1e1e1;}
.menu_body a{display:block;width:223px;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}
.menu_body a:hover{text-decoration:none;} 
 
a:link{
    color: #000000;
    letter-spacing: 0.1em;
    text-decoration: none;
}
a:visited {
    color: #000000;
    letter-spacing: 0.1em;
    text-decoration: none;
}
a:hover {
    color: #E4891E;
    letter-spacing: 0.1em;
    text-decoration: none;
}
a:active {
    color: #000000;
    letter-spacing: 0.1em;
    text-decoration: none;
}


